{% if current %}
    {% if not config.onlyTemp %}
        <div class="normal medium">
            <span class="wi wi-strong-wind cyan"></span>
            <span>
                {% if config.showWindDirection %}                
                    {% if config.showWindDirectionAsArrow %}
                        <i class="wi wi-direction-down" style="transform:rotate{{ current.windDirection }}deg);"></i>
                    {% else %}
                        {{ current.cardinalWindDirection() | translate }}
                    {% endif %}                
                {% endif %}
                {% if config.useBeaufort %}
                    {{ current.beaufortWindSpeed() | round }}
                {% else %}
                    {% if config.useKmh %}
                        {{ current.kmhWindSpeed() | round }}<span class="subs"> km/h</span>
                    {% else %}
                        {{ current.windSpeed | round }}
                    {% endif %}
                {% endif %}
                {% if config.showPressure and current.pressure %}
                    <span><i class="wi wi-barometer gold"></i>{{ current.pressure | decimalSymbol }}</span><span class="subs"> Hg</span>
                {% endif %}
                {% if config.showVisibility and current.visibility %}
                    <span><i class="fa fa-binoculars violet"></i>{{ current.visibility | decimalSymbol }}</span><span class="subs"> Km</span>
                {% endif %}
                {% if config.showHumidity and current.humidity %}
                    <span><i class="wi wi-humidity skyblue"></i> {{ current.humidity | decimalSymbol }}%</span>
                {% endif %}
                {% if config.showSun %}
                    <span class="wi dimmed wi-{{ current.nextSunAction() }} gold"></span>
                    <span>
                        {% if current.nextSunAction() === "sunset" %}
                            {{ current.sunset | formatTime }}
                        {% else %}
                            {{ current.sunrise | formatTime }}
                        {% endif %}
                    </span>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <div class="xlarge light">
        <span class="wi weathericon wi-{{current.weatherType}} wicon"></span>
        <span class="bright">
            {{ current.temperature | roundValue | decimalSymbol }}&deg;
        </span>
    </div>
    <div class="normal light indoor">
        {% if config.showIndoorTemperature and indoor.temperature %}
            <div>
                <span class="fa fa-home"></span>
                <span class="bright">
                    {{ indoor.temperature | roundValue | unit("temperature") | decimalSymbol }}
                </span>
            </div>
        {% endif %}
        {% if config.showIndoorHumidity and indoor.humidity %}
            <div>
                <span class="fa fa-tint"></span>
                <span class="bright">
                    {{ indoor.humidity | roundValue | unit("humidity") | decimalSymbol }}
                </span>
            </div>
        {% endif %}
    </div>
    {% if not config.onlyTemp %}
        {% if config.showFeelsLike and current.feelsLike %}
            <div class="medium feelslike lime">
                {{ "FEELS" | translate({DEGREE: current.feelsLike() | unit("temperature") }) }}
                <i class="wi wi-thermometer yellow"></i>
            </div>
        {% endif %}
        {% if config.showDewPoint and current.dewpoint %}
            <span class="normal dewpoint midget cyan">
                {{ "DEWPOINT" | translate({DEGREE: current.dewpoint | roundValue | unit("temperature") | decimalSymbol }) }}
                <i class="wi wi-raindrops lightgreen"></i>
            </span>
        {% endif %}
        {% if config.showUVindex %}
            <span class="normal uvi midget lightgreen">&nbsp;
                {{ "UVI" | translate }} <i class="wi wi-hot gold"></i> {{ current.uvindex | decimalSymbol }}
                
            </span>
        {% endif %}
        {% if config.showPrecipitationAmount %}
            <div class="normal midget">
                {% if current.precipitation %}
                    {% if current.rain %}
                        {{ "RAIN" | translate }}: {{ current.rain | roundValue | decimalSymbol | unit("precip") }}
                        <i class="wi wi-umbrella lime"></i>
                    {% elif current.snow %}
                        {{ "SNOW" | translate }}: {{ current.snow | roundValue | decimalSymbol | unit("precip") }}
                        <i class="wi wi-snowflake-cold lightblue"></i>
                    {% elif current.rain and current.snow %}
                        {{ "PRECIP" | translate }}: {{ current.precipitation | roundValue | decimalSymbol | unit("precip") }}
                        <i class="wi wi-umbrella lime"></i>
                    {% endif %}
                {% else %}
                    {{ "No prep" | translate }}&nbsp;<i class="medium fa fa-tint-slash skyblue"></i>
                {% endif %}
            </div>
        {% endif %}
        {% if config.showDescription and current.description %}
            <div class="normal medium bright">
                {{ current.description }}
            </div>
        {% endif %}
        {% if config.showAlerts and current.alert %}
            <div class="alerts midget coral"> <i class="wi wi-small-craft-advisory"></i> {{ "ALERTS" | translate }}
            {{ current.start | formatTime }} - {{ current.end | formatTime }}<br>{{ current.alert }} 
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}