{% if forecast %}
    {% set numSteps = forecast | calcNumSteps %}
    {% set currentStep = 0 %}
    <table class="{{ config.tableClass }} daily weatherforecast">
        {% if config.ignoreToday %}
            {% set forecast = forecast.splice(1) %}
        {% endif %}
        {% set forecast = forecast.slice(0, numSteps) %}
        {% for f in forecast %}
            <tr {% if not config.colored %}class="grayscale"{% endif %} {% if config.fade %}style="opacity: {{ currentStep | opacity(numSteps) }};"{% endif %}>
                {% if (currentStep == 0) and config.ignoreToday == false and config.absoluteDates == false %}
                    <td class="align-left day">{{ "TODAY" | translate }}</td>
                {% elif (currentStep == 1) and config.ignoreToday == false and config.absoluteDates == false and not config.extra %}
                    <td class="align-left day">{{ "TOMORROW" | translate }}</td>
                {% else %}
                    <td class="align-left day">{{ f.date.format('ddd') }}</td>
                {% endif %}
                <td class="align-center bright weather-icon"><span class="wi weathericon wi-{{ f.weatherType }}"></span></td>
                <td class="align-center max-temp coral">
                    {{ f.maxTemperature | roundValue | unit("temperature") | decimalSymbol }}
                </td>
                <td class="align-center min-temp skyblue">
                    {{ f.minTemperature | roundValue | unit("temperature") | decimalSymbol }}
                </td>
                {% if config.showPrecipitationAmount %}
                    {% if f.precipitation %}
                        <td class="align-right bright precipitation">
                            {% if f.rain %}
                                {{ f.rain | roundValue | decimalSymbol }} mm <i class="wi wi-umbrella lime"></i>
                            {% elif f.snow %}
                                {{ f.snow | roundValue | decimalSymbol }} mm <i class="wi wi-snowflake-cold lightblue"></i>
                            {% elif f.rain and f.snow %}
                                {{ f.precipitation | roundValue | decimalSymbol }} mm <i class="wi wi-umbrella lime"></i>
                            {% endif %}
                        </td>
                    {% else %}
                        <td class="align-right rain precipitation">
                            {{ "No rain" | translate }} <i class="fa fa-tint-slash skyblue"></i>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
            {% if config.extra %}
                <tr {% if not config.colored %}class="grayscale"{% endif %} {% if config.fade %}style="opacity: {{ currentStep | opacity(numSteps) }};"{% endif %}>
                    <td class="align-left humidity">
                        <i class="wi wi-humidity little skyblue"></i> {{ f.humidity }}%
                    </td>
                    <td class="align-center dewpoint cyan">
                        {{ f.dew | roundValue | unit("temperature") | decimalSymbol }}
                    </td>
                    <td class="align-center pressure gold">
                        {{ f.pressure }} Hg
                    </td>
                    <td class="align-center feeLike yellow">
                        {{ f.feelsLikeTemp | unit("temperature") | decimalSymbol }}
                    </td>
                    <td class="align-right uvi lightgreen"> UVI
                        {{ f.uvi | roundValue | decimalSymbol }}
                    </td>
                </tr>
            {% endif %}
            {% set currentStep = currentStep + 1 %}
        {% endfor %}
    </table>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}